@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 31% 96%;
    --foreground: 8 42% 18%;
    --card: 0 0% 100%;
    --card-foreground: 8 42% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 8 42% 18%;
    --primary: 8 87% 24%;
    --primary-foreground: 36 31% 96%;
    --secondary: 35 52% 86%;
    --secondary-foreground: 8 42% 18%;
    --muted: 33 20% 89%;
    --muted-foreground: 36 16% 35%;
    --accent: 356 66% 32%;
    --accent-foreground: 36 31% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 34 28% 78%;
    --input: 34 28% 78%;
    --ring: 8 87% 24%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 10 38% 12%;
    --foreground: 36 31% 96%;
    --card: 9 34% 16%;
    --card-foreground: 36 31% 96%;
    --popover: 9 34% 16%;
    --popover-foreground: 36 31% 96%;
    --primary: 35 52% 60%;
    --primary-foreground: 10 38% 12%;
    --secondary: 7 38% 22%;
    --secondary-foreground: 36 31% 96%;
    --muted: 7 30% 20%;
    --muted-foreground: 34 20% 74%;
    --accent: 356 66% 45%;
    --accent-foreground: 36 31% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 8 24% 30%;
    --input: 8 24% 30%;
    --ring: 35 52% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
